html, body{
	margin: 0; 
    height: 100%; 
    overflow-x: hidden; 
    overflow-y: hidden;
}

body{
    background-image: url(images/404.png);
    background-size: cover,cover, cover;   
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center, center, center; 
    background-color: transparent, #43d7e8, transparent;
}

@font-face {
    font-family: pixel;
    src: url(fonts/pixel.ttf);
}

h1 {
    z-index: 0;
    font-family: pixel;
    text-align: center;
    font-size: 70px;
    padding: 0px;
    margin-bottom: 0px;
    color: white;
}

h2 {
    z-index: 0;
    font-family: pixel;
    text-align: center;
    font-size: 50px;
    padding: 0px;
    margin-bottom: 0px;
    color: white;
}

h3{
    z-index: 0;
    font-family: pixel;
    font-size: 40px;
    padding: 0px;
    margin-bottom: 0px;
    color: white;
    margin-top: 2px;
    margin-left: 10px;
}

.top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left:auto;
    user-drag: none;
    -moz-user-select: none; 
    -webkit-user-drag: none;
}

.middle{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

a{
    text-decoration: none;
}

a:link {
    color:white;
}

a:visited {
    color:white;
}

a:hover {
    color:lightgrey;
}
a:active {
    color:grey;
}