html, body{
	margin: 0; 
	height: 100%; 
    overflow-x: hidden; 
    overflow-y: hidden;
}

body{
	background-image: url(images/nba.png);
    background-size: cover,cover, cover;   
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center, center, center; 
    background-color: transparent, #43d7e8, transparent;
}

.top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left:auto;
    user-drag: none;
    -moz-user-select: none; 
    -webkit-user-drag: none;
}

@font-face {
    font-family: pixel;
    src: url(fonts/pixel.ttf);
}

a{
	text-decoration: none;
}

a:link {
	color:white;
}

a:visited {
	color:white;
}

a:hover {
	color:lightgrey;
}
a:active {
	color:grey;
}

.bl{
	font-family: pixel;
	color: white;
}

#title{
	font-size: 40px;
	text-decoration: underline;
    margin-bottom: 0px;
}

#back{
	font-size: 40px;
	font-family: pixel;
	color: white;
	margin-left: 10px;
    margin-top: 2px;
    position: relative;
}

.bl-title{
    font-size: 20px;
    font-family: pixel;
    color: white;
    list-style: none;
    margin-right:37px;
}