html, body{
    height: 100%;
}
.col-md-12{
    padding: 10px;
}

img{
    margin-top: 10px;
    margin-bottom: 10px;
}

.container{
    width: 90%;
    padding: 10px;
}

.logo-header{
    padding: 5px;
    background-color: #0EBFE9;
}

.bl{
    position: absolute;
}

.navbar{
    background-color: #2196F3;
}