
html, body {
	margin: 0; 
	height: 100%; 
	overflow: hidden
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: pixelatedFont;
    src: url(fonts/fipps.otf);
}

@font-face {
    font-family: pixel;
    src: url(fonts/pixel.ttf);
}


h1 {
	z-index: 0;
    font-family: pixelatedFont;
    text-align: center;
    font-size: 60px;
    padding: 0px;
    margin-bottom: 0px;
}

.autotype{
	z-index: 0;
	font-family: pixel;
	text-align: center;
	font-size: 40px;
	padding: 0px;
	margin: 0px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

body{
    background-image: url(images/cloud1.png), url(images/windmill.png), url(images/ba.jpg);
    background-size: cover,cover, cover;   
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center, center, center; 
    background-color: transparent, #43d7e8, transparent;
}

#windmill{
	z-index:-1;
	size: cover;
	position: center;
	max-width: 100%; 
    height: auto; 
    vertical-align: 0%;
}

#email{
	width: 50px;
	height: auto;
	margin-right: 5px;
	margin-left: 5px;
}

#tl{
	width: 50px;
	height: auto;
	margin-right: 5px;
	margin-left: 5px;
}

#linkedin{
	width: 50px;
	height: auto;
	margin-right: 5px;
	margin-left: 5px;
}

#github{
	width: 50px;
	height: auto;
	margin-right: 5px;
	margin-left: 5px;
}

#footer{
	font-family: pixel;
	text-align: center;
	font-size: 30px;
	margin:2%;
}

a{
	text-decoration: none;
}

a:link {
	color:black;
}

a:visited {
	color:black;
}

a:hover {
	color:white;
}
a:active {
	color:lightgrey;
}

.top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left:auto;
}

.bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left:auto;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 30px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
