* { 
    font-family: 'Open Sans', sans-serif;
}

html {
    background-color: white;
    height: 100%;
}

body {
    background-color: white !important;
}

body {
    height: 100% !important;
}
.site-head-front{
    height: 150px;
    border-bottom: 17px solid black;
    background-color: white !important;
}

.site-head-middle{
    display: flex;
    height: 147px;
    border-bottom: 11px solid white;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}


#main-logo {
    height: 75px;
    width: auto;
}

a{
    color: black !important;
}

li{
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1.5em;
}

a:hover{
    text-decoration: none !important;
    color: #0D47A1 !important;
}

.container{
    padding-top: 50px;
}