html,
body {
    background-color: blue;
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow-x: hidden;
    font-family: 'Ubuntu Mono', monospace !important;
    background-color: #ffffff;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23d9d9d9' fill-opacity='0.16'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.bi {
    font-weight: bold;
}

.row {
    height: 100%;
}

.left-pane {
    border-right: 1px solid lightgrey;
    height: 100%;
    overflow-y: scroll;
}

.right-pane {
    height: 100%;
    overflow-y: scroll;
    padding-right: 50px !important;
}

.pane-header {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2em;
    font-weight: 100;
    width: 100%;
    padding-left: 10px;
}

.pane-header-contact {
    font-size: .8em;
    font-weight: 100;
    width: 100%;
    padding-left: 10px;
}

.pane-entry-list {
    padding-left: 10px;
}

.pane-entry {
    font-size: 1.5em;
    width: auto !important;
    display: block;
}

.pane-entry:hover {
    cursor: pointer;
}

.pane-entry i {
    font-size: .7em;
}

.hs {
    height: 55px;
    width: auto;
    border-radius: 10px;
}

.pane-break {
    border-bottom: 1px dotted lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
}

.entry-wrapper {
    padding-left: 5px;
}

.entry-wrapper a,
.entry-wrapper a:hover {
    text-decoration: none;
    color: black;
}

.fa-rotate {
    transition: .3s transform linear;
}


.ul-block {
    margin: 0;
    height: 3px;
    background-color: #f1c40f;
    width: 100px;
    border-radius: 15px;
    width: 0px;
    transition: width .3s ease;
}

.fa-crown {
    color: #f1c40f;
}

.project-entry {
    display: block !important;
    margin-top: 10px;
    overflow: auto;
}

.project-title {
    font-weight: bold;
}

.project-title a,
.project-title a:hover {
    color: black;
    text-decoration: none;
}

.project-tags {
    width: 100%;
    display: block;
}

.project-tags span {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: .7em;
    padding: 3px;
}

.project-tags .fs {
    background-color: #f1c40f;
}

.project-tags .web {
    background-color: #9b59b6;
}

.project-tags .python {
    background-color: #3498db;
}

.project-tags .mongo {
    background-color: #27ae60;
}

.project-tags .event {
    background-color: #34495e;
}

.project-thumbnail {
    max-height: 125px;
    width: auto;
    float: left;
    margin: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    display: block;
}